*, *::before, *::after {
  box-sizing: border-box;
}

body, div, ul, li {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: .5rem;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  word-break: break-word;
  background-color: #eee;
}

.box-effect {
  background-color: white;
  box-shadow: 0 0 3px 0 black;
  margin-bottom: 2rem;
}

.main-stage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.scroll-y {
  overflow-y: auto;
}

a {
  color: inherit;
  transition: color .2s;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
a:hover { color: #0af; }
.active {
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid black;
}
.secondary { color: #aaa; }

hr {
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.btn {
  display: inline-block;
  outline: none;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 0.25rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 576px) {
  .show-xm { display: none !important; }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
